{{page-title "DidResizeEmber4"}}

<h1>Does ember-did-resize work with Ember 4.x?</h1>

<ul
  {{did-resize this.addItem}}
>
  {{#each this.items as |item|}}
    <li>{{item}}</li>
  {{/each}}
</ul>

{{outlet}}
